* {
	font-family: "Roboto", sans-serif;
	color: white;
}
h1, h2 {
	font-family: "Montserrat", sans-serif;
}
h1 {
	color: white;
}
/* changes the color of the section headers */
h2 {
	color: #fefefe;
}
p {
	text-align: justify;
}
span, li, p{
	font-size: 18px;
}
/* # for selecting id, . for selecting class */
img {
	height: 300px;
	width: 250px;
}
/* Website General Background */
body {
	background-color: #47A0C5;
}
/* NavBar custom color */
.bg-custom{
	background-color: #6EB4D1;
}
/*NavBarText custom color*/
.nav-text-custom-color{
	color: white !important;
	text-decoration-color: white !important;
}
/* general color of landing */
.jumbotron {
	background-color: transparent;
	/* !important to prioritize styling over bootstrap */
}
/* Add spacing to each section */
.tools {
	padding: 5px;
	height: auto;
	margin: 5px;
	width: 100%;
	color:  black;
	background-color: #5190C5;
}
.demo {
	height: 480px;
	width: 100%;
}
.cert {
	height: auto;
	width: 100%;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /* Whatever width you want */
}
#landing {
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/* Centers the content vertically using flexbox */
#gallery {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 90vh;
}
#roles{
	margin-top: 20px;
	margin-bottom: 0px;
}
/* Removes the bullets of the uls/lists */
ul {
	list-style-type: none;
	padding: 0;
}